<div class="row" style="background-color: #3c763d; height: 30%">
  <div class="col-md-4 text-center" (click)="onHomeClick()" style="color: white; margin-top: 0.5%;margin-bottom: 1%; font-weight: bold; font-size: 15px">
    <h1>Frontend Excersise</h1>
  </div>
  <div class="col-md-4 text-center" (click)="onPageOneClick()" style="color: white; margin-top: 2%;margin-bottom: 2%">
    Page One
  </div>
  <div class="col-md-4 text-center" (click)="onPageTwoClick()" style="color: white; margin-top: 2%;margin-bottom: 2%">
    Page Two
  </div>
</div>
